
    /* Nav */

.container-collapse {
    text-align: center;
}

button:focus, a:focus, a.btn:focus {
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
}

.menu-button {
    background: none;
    border: none;
    max-width: 15%;
    min-width: 15%;
    margin-top: 1.6rem;
}   

button img {
    max-width: 100%;    
}

.navbar-default {
    border: none;
}

    /* Nav Inner */

.menu-row {
    margin-top: 1rem;
}

.menu-row div {
    padding: 1.5rem;
}

a:hover {
    text-decoration: none;
}

    /* Body Image */

.background-image-container{
    background-image: url(../assets/images/DentonTX.jpg);
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

    /* Footer */

.icon {
    display: inline-block;
    margin-left: 1rem;
} 

/* Fix for mystery 40px inline start margin */

.social {
    padding-inline-start: 0;
}

.social li:first-child {
    margin-left: 0;
}

@media (min-width: 991.98px) {
    .menu-button {
        min-width: 23.5rem;
    }  
}

@media (max-width: 991.98px) {
    .menu-button {
        min-width: 21rem;
    }  
}

@media (max-width: 767.98px) {
    .menu-button {
        min-width: 19rem;
    }  
}

@media (max-width: 575.98px) {
    .menu-button {
        min-width: 16.5rem;
    }  
}
